language: cpp
before_script:
- sudo apt-get install libsdl2-dev -y
- sudo apt-get install libsdl2-gfx-dev -y
- sudo apt-get install doxygen -y
- sudo apt-get install graphviz -y
- sudo apt-get install libboost-test-dev -y
- sudo apt-get install libboost-program-options-dev -y
- echo "deb http://archive.ubuntu.com/ubuntu xenial main universe" | sudo tee -a /etc/apt/sources.list
- sudo apt-get update -qq
- sudo apt-get install libspdlog-dev -y
script:
- mkdir bin
- doxygen
- cd bin
- cmake ../src
- make all
- make test
- make package
deploy:
  provider: script
  skip_cleanup: true
  script: ../deploy.sh
